body {
	font-family: sans-serif;background-color: #000000; color: ghostwhite	
}
h1 {
		;text-align: center;	;font-size: 400% 
}

ul {
	font-size: 250%; background-color: #FF4500	;border-radius: 10px
}
.nav {
	display: flex;justify-content: center; list-style-type: none;
}
li {
	margin-right: 40px; margin-left: 40px
}
a {
	text-decoration: none; color: ghostwhite;
}
p {
	font-size: 200%
}
.insane {
	font-size: 250%; background-color: #FF4500	;border-radius: 10px

}

